<% title "Arena Community Galleries" %>

<p><%= link_to "New Gallery", new_admin_gallery_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= eskimo_table({:columns => ["name", "summary", ["", lambda{|x| link_to image_tag("admin/nav_image.gif"), :controller => "gallery_images", :action => "index", :gallery_id => x.id}, nil],], :manual_sorting => true, :list => @galleries}) %>
