<% title "Surveys" %>

<p><%= link_to "New Survey", new_admin_survey_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => ["name", "summary", "result"], :list => @surveys}, "admin/shared/admin_table_sort") %>
