<% title "Makes" %>

<p><%= link_to "New Make", new_admin_make_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => ["name"], :list => @makes, :images => true}) %>
