<% title "Testimonials" %>

<p><%= link_to "New Testimonial", new_admin_testimonial_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :quote_or_author_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%# form_tag :action => "index_update", :search => params[:search], :page => params[:page] do %>
  <%= admin_table({:columns => ["company_name", ["Quote", lambda{|x| (x.quote.length > 50) ? "#{Sanitize.clean(x.quote)[0..50]}..." : x.quote}, "quote"], "author"
  #["Highlight?", lambda{|x| (x.highlight) ? "<input name='ids[]' value='#{x.id}' type='checkbox' checked='' />" : "<input name='ids[]' value='#{x.id}' type='checkbox' />"}]
  ], :list => @testimonials, :images => true}) %>
  <%#= submit_tag "Update" %>
<%# end %>
