<h2 style="margin-top: 4px; padding-top: 4px;">Q. <%= link_to_function faq.question, "toggleDiv(this, 'faq_#{faq.id}', 'down', 'up')", :class => "down" %></h2>
<div id="faq_<%= faq.id %>" style="display:none;">
  <p><%= faq.answer %></p>
  <br />
</div>
