<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>

<% unless @faqs.blank? %>
  <% for faq in @faqs %>
    <%= render "faqs/faq", :faq => faq %>
  <% end %>
<% else %>
 <p>No FAQs to display.</p>
<% end %>
