<div class="top_area">
  <div class="top_area_left">
    <h1>Demon Printers are wreaking havoc
      in offices across the land!</h1>
    <p style="font-size: 12px; line-height: 16px">
      Demon Printers come in many guises and can be tricky to spot.
      But don’t panic - help is at hand.
    </p>

    <p style="font-size: 12px; line-height: 16px">
      We’ll start by showing you how to identify a problem printer,
      and then we’ll help you to get rid of them for good.
    </p>

    <p style="font-size: 12px; line-height: 16px">
      But first of all we’d like you to watch our video, so you can
      see these demonic devices in action.
    </p>

  </div>
  <div class="top_area_right">
      <span></span>
      <div class="demon-img">
        <%= image_tag "demon_printers.png", :alt => "Demon Printers" %>
	        <div class="top_area_right_testimonial">
            <h2></h2>

	        </div>
      </div>
  </div>
</div>
