<% title "Cost Calculations" %>

<div class="admin_note">
  Completed cost calculations will appear in the list below. The most recent will be displayed at the top of the list until you re-order the list by clicking the coloured headings.
</div>

<%= admin_table(
      { :columns => [
          "name",
          ["Email", lambda{|cc| mail_to(cc.email)}, "email"],
          "phone",
          ["Documents distributed", "document_distribution_count", "document_distribution_count"],
          ["Documents archived", "document_archive_count", "document_archive_count"],
          ["Documents retrieved", "document_retrieval_count", "document_retrieval_count"],
          ["Document callbacks", "document_callbacks_count", "document_callbacks_count"],
          ["Documents processed", "document_process_count", "document_process_count"],
          ["Created at", lambda{|cc| simple_date_format(cc.created_at)}, "created_at"]
        ], 
        :list => @cost_calculations, :edit_action => nil}) %>
