<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>A customer has filled in the 'Duplicate invoice request' form</h2>
    <p>
      <strong>Invoice Number: </strong><%= @i_number %><br />
      <strong>E-mail: </strong><%= auto_link @email %>
    </p>
  </body>
</html>
