<% title "Blog Entries" %>

<p><%= link_to "New Blog Entry", new_admin_blog_entry_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :headline_or_summary_or_main_content_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => ["headline", ["Summary", lambda{|x| (x.summary.length > 50) ? "#{x.summary[0..50]}..." : x.summary}, "summary"], "date"], :list => @blog_entries, :images => true}) %>
