<% title "Edit Page" %>
 
<p><%= link_to "View All", admin_page_nodes_path %></p>
<div style="float: left;">
<%= render :partial => 'form' %>
</div> 

<%= render :partial => 'page_content_versions' %>
