<% title "White Papers" %>

<p><%= link_to "New White Paper", new_admin_white_paper_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => ["name", ["Summary", lambda{|x| (x.summary.length > 50) ? "#{x.summary[0..50]}..." : x.summary}, "summary"], "date"], :list => @white_papers}) %>
