<% title "Jobs" %>


<p><%= link_to "New Job", new_admin_job_path %></p>

 
<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= eskimo_table({:columns => ["name", "closing_date"], :list => @jobs, :highlight => lambda{|job|job.active?}}) %>
