<% klass = CaseStudy %>

<% services = [] %>
<% services << link_to("All", :action => "index") %>
<% for service in klass.active.select{|cs|cs.service_id?}.collect{|cs|cs.service.name}.uniq.sort %>
	<% if params[:service] && params[:service] == service.to_s %>
		<% service_link = link_to(service, {:action =>"index", :service => service.to_s}, :class => "highlight") %>
	<% else %>
		<% service_link = link_to(service, {:action =>"index", :service => service.to_s}) %>
	<% end %>
	<% unless services.include?(service_link) %>
		<% services << service_link %>
	<% end %>
<% end %>

<% if services.length > 1 %>
	<h3>Services</h3>
	<ul>
	<% for service in services  %>
		<li><%= service %></li>
	<% end %>
	</ul>
<% end %>
