<% title "Staff Testimonials" %>

<p><%= link_to "New Staff Testimonial", new_admin_staff_testimonial_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :quote_or_author_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => [["Quote", lambda{|x| (x.quote.length > 50) ? "#{Sanitize.clean(x.quote)[0..50]}..." : x.quote}, "quote"], "author"], :list => @staff_testimonials}) %>
