<div class="case_study">
	<% if testimonial.image? %>
    <%= image_tag(testimonial.image.url(:index), :width=>"200", :height=>"136", :class=>"image_left") %>
  <% end %>
  <% if testimonial.company_name? %>
    <h2><%= testimonial.company_name %></h2>
  <% end %>
  <p>"<%= testimonial.quote %>"</p>
  <% if testimonial.author? %>
    <span class="date"><%= testimonial.author %></span>
  <% end %>
</div>
