<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @name %> has filled in the callback request form after completing a cost calculation.</h3>
    <h3>Telephone:<%= @tel %></h3>
    <p>You can see their cost calculator results <%= link_to "here", edit_admin_cost_calculation_url(@id) %>.</p>
  </body>
</html>
