<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      <%= @name %> 
      <% unless @company.blank? %>
        from <%= @company %>
      <% end %>
      has filled in the print audit request form
    </h1>
    <h2>Contact Details:</h2>
    <% unless @phone.blank? %>
    	<strong>Telephone: </strong> <%= @phone %><br />
    <% end %>
    <% unless @email.blank? %>
    	<strong>Email: </strong> <%= auto_link @email %><br />
    <% end %>
  </body>
</html>
