<% if article.image? %>
 <%= link_to image_tag(article.image.url(:index), :class=>"image_left"), {:action => "show",
  :id => article.id,
  :tag => params[:tag],
  :year => params[:year],
  :month => params[:month]} %>
<% end %>

<h2><%= link_to h(article.headline), {:action => "show",
  :id => article.id,
  :tag => params[:tag],
  :year => params[:year],
  :month => params[:month]} %></h2>

<%=h article.summary %><br />

<p align="right"><%= link_to "Read more", {:action => "show",
  :id => article.id,
  :tag => params[:tag],
  :year => params[:year],
  :month => params[:month]}, {:class=>"blue_arrow"} %></p>

<hr />
