<% title "Categories" %>

<p><%= link_to "New Category", new_admin_category_path %></p>

<% form_for @search do |f| %>
  <p>
    <%= f.text_field :name_like %>
    <%= f.submit "Search" %>
  </p>
<% end %>

<%= admin_table({:columns => ["name", ["Summary", lambda{|x| (x.summary.length > 50) ? "#{x.summary[0..50]}..." : x.summary}, "summary"]], :list => @categories, :images => true, :manual_sorting => true}) %>
