<% hide_right; hide_left; insert_into_head %>

<% content_for :insert_into_head do %>

  <script type="text/javascript">
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");
    window.___gcfg = {
        lang: 'en-US'
      };
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  </head>

  <body onload="startPage()">

<% end %>

<% @page_name = "SEO" %>

<div id="seo-page-managed-document-service-left">
  <h1><%= title("Managed Document Service (MDS)") %></h1>
  <p>
    <strong>Research has shown that print spend accounts for 1 - 3% of annual revenue.</strong>
  </p>
  <p>
    Addressing your print and copy strategy in isolation can deliver cost savings and a more
    efficient way of working. We also know that organisations spend between 5 and 15% of their
    annual revenue on document lifecycle costs. So, a broader approach that considers the
    way you work with documents across the board will deliver a much more significant
    financial cost saving.
  </p>
  <p>
    With this in mind, our MDS addresses the way your organisation works with paper and digital
    documents with the aim of promoting efficiency, reducing waste and minimising costs.
  </p>
  <p>
    Solutions range from relatively simple ideas that focus on just one element of your document
    workflow. For example, we may look at digitising a paper archive or your mailroom. We could
    address a particular paper-driven process such as purchase order processing; or look at
    refining your print and copy systems and practices.
  </p>
  <p>
    Alternatively, we may review and improve the way you work with documents across the board,
    enhancing your technical infrastructure and integrating new tools and practices to drive
    efficiency, reduce costs and minimise waste in all areas of document management including
    creation, processing, storage and disposal.
  </p>
  <p>
    <%= link_to("Read more", "/page/managed-document-service") %>
  </p>
  <div id="seo-share">
    <h2>Share...</h2>
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://www.arenagroup.net/managed_document_service_new" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    &nbsp;
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    &nbsp;
    <g:plusone></g:plusone>
  </div>
</div>
</div>

<div id="seo-page-managed-document-service-right">
  <%= render '/web/seo_pages/request_a_review', :form => "mds_the_document_experts" %>
</div>
